@import "tailwindcss";


@font-face{
    font-family:iransans ;
    src: url(../public/fonts/IRANSansLight.woff);
}

@keyframes tea {
    to{
      top: 0;
    }
  
} 
@keyframes texts {
     to{
      top: 0;
    }
  
  
} 




@theme {
  --font-iransans: "iransans", sans-serif;
  --animate-tea: tea 3s ease-out forwards ;
  --animate-texts: texts 2s ease-out forwards ;
}
